# info, game_folder, realmlist_rel_path, launch_cmd, realmlist, username, password
Chromiecraft
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/1
set realmlist logon.chromiecraft.com
username
password

Chromiecraft2
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/1
set realmlist logon.chromiecraft.com
username
password

Local
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/1
set realmlist 127.0.0.1
admin
admin

LocalHD
/media/jelle/Data/games/wow335HD
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/2
set realmlist 127.0.0.1
admin
admin

Trinity
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/1
set realmlist 127.0.0.1:3725
admin
admin

Turtle
/media/jelle/Data/games/wow112turtle
realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/3
set realmlist logon.turtle-wow.org
username
password
