# info, game_folder, realmlist_rel_path, launch_cmd, realmlist, username, passwd
Henhouse
/media/jelle/Data/games/wow112
realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/3
set realmlist pvp.henhou.se
myusername
mypassword

Turtle
/media/jelle/Data/games/wow112turtle
realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/7
set realmlist logon.turtle-wow.org
myusername
mypassword

Chromiecraft
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/2
set realmlist logon.chromiecraft.com
myusername
mypassword

Local
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/2
set realmlist 127.0.0.1
myusername
mypassword

Warmane
/media/jelle/Data/games/wow335
Data/enUS/realmlist.wtf
env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/2
set realmlist logon.warmane.com
myusername
mypassword