#
Henhouse
set realmlist pvp.henhou.se
myusername
mypassword

Chromiecraft
set realmlist logon.chromiecraft.com
myusername
mypassword

Chromiecraft2
set realmlist logon.chromiecraft.com
myusername
mypassword

Local
set realmlist 127.0.0.1
myusername
mypassword

Warmane
set realmlist logon.warmane.com
myusername
mypassword

Warmane2
set realmlist logon.warmane.com
myusername
mypassword
